/* Body styling */
body {
    font-family: Palatino, Georgia, serif;
    margin: 30px;
    padding: 0;
    background-color: #ffffff;
}
/* Heading styling */
h1 {
    color: #a51e22;
    font-family: Gill 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 36px;
}
/* Paragraph styling */
p{
    color: #000000;
    font-size: 18px;
}
/* Hero section styling */
.hero {
    background-size: cover;
    padding: 100px 20px;
    text-align: center;
    color: #fff;
}
/* My black button style */
.button {
    background-color: #000000;
    color: #ffffff;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}
/* Button hover styling */
.button:hover {
    background-color: #bcbdbf;
    color: #000000;
}