/* Body styling */
body {
    font-family: Palatino, Georgia, serif;
    margin: 30px;
    padding: 0;
    background-color: #ffffff;
}
/* Heading 1 styling */
h1 {
    color: #a51e22;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 36px;
}
/* Heading 2 styling */
h2 {
    color: #000000;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
}
/* Heading 3 styling */
h3 {
    color: #000000;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 24px;
}
/* Paragraph styling */
p{
    color: #000000;
    font-size: 18px;
}
/* Hero section styling */
.hero {
    background-size: cover;
    padding: 100px 20px;
    text-align: center;
    color: #fff;
}
/* My black button style */
.button {
    background-color: #000000;
    color: #ffffff;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}
/* Button hover styling */
.button:hover {
    background-color: #bcbdbf;
    color: #000000;
}
/* Download button styling */
.download-button {
    display:inline-block;
    background-color: #c6c2c2;
    color: #000000;
    padding: 10px 20px;
    margin: 55px 0px;
    border: 2px solid #000000;
    font-size: 16px;
    cursor: pointer;
}
.download-button:hover {
    background-color: #000000;
    color: #ffffff;
}
/*Unordered list styling */
.unordered-list {
    list-style-type: square;
    margin: 30px;
    padding-left: 20px;
}
/* List item styling */
.unordered-list li {
    color: #000000;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    font-size: 18px;
    margin-bottom: 20px;
}
/* List styling for my sources */
.sources {
    color: #000000;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    font-size: 14px;
    margin-bottom: 20px;
}
/* List item styling for my sources */
.sources li {
    margin-bottom: 10px;
}
/* Intro paragraph styling */
.body-text {
    text-indent: 30px;
    line-height: 1.6;
}
.intro::first-letter {
    font-size: 4em;
    font-weight: bold;
    color: #000000;
    float: left;
    line-height: .8;
    padding-right: 8px;
    padding-top: 4px;
}
